/* WARNING: THIS IS THE HARDEST PART OF WEB DEVELOPMENT*/

/* Initials */

#anreabethClone {
    padding: 20px;
}

ul {
    margin: auto 0;
    display: inline-block;
    text-align: left;
}


/* Main */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #faf8d7;
    font-family: 'JetBrains Mono'
}

/*HOME (index.html)*/
.container {
    box-sizing: border-box;
    width: 90%;
    max-width: 1200px;
    max-height: fit-content;
    margin: auto;
    height: 3rem;
}

.navigation {
    padding: 0 32px 0 32px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    background: #faf8d7;
    border-bottom: 1px solid #ddd;
    padding: 0;
}

header h1 {
    color: #1b0055;
    font-size: 1.25rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-weight: 500;
    justify-content: flex-end;
    padding: 1rem 0;
}

nav a 
{
    padding: 500px;
    height:max-content;
    text-decoration: none;
    color: #5f4596;
}
nav a:hover 
{
    text-decoration: none;
    color: #8760db;
    
}
nav a:active 
{
    text-decoration: none;
    color: #4500d8;
}
#contact-button {
    text-decoration: none;
    background-color: #3c00bd;
    border-radius: 20px;
    height: 200px;
    color: white;
    padding: 0 auto;
}
#contact-button:hover {
    text-decoration: none;
    background-color: #5100ff;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 0 auto;
}

.homepage {
    text-align: center;
    padding: 0;
}
.intro-text {
    background: #fffa9a;
    text-align: center; 
    padding: 10px;
    margin: 0 auto;
}
.intro-content {
    background-color: rgb(255, 255, 225);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: justify;
    text-justify: inter-word;
    padding: 100px 0;
    align-items: center;
}
.profile-pic {
    border-radius: 999px;
    box-shadow: 10px 10px 0 gold;
}
.whoami {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 200%;
    gap: 4rem;
    margin: 0 auto;
}
.whoami-text {
    margin: auto 0;
}

.intro-skill-set {
    padding-bottom: 2.5rem;
    background: #fff28f;
    padding: 0 auto;
}

.intro-skill-set ul{
    list-style: none;
    gap: 3rem;
    display: flex;
    margin: 0 auto;
    height:max-content;
    
}
footer {
    background:#fffa9a;
    color: #1e0052;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    margin-top: 2rem;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}

/* CONTACTS */

.contact-ui {
    background-color:white;
    width: 300px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius:  20px;
    box-shadow: 10px 10px 0 rgb(149, 146, 90);
}
.contact-ui h1{
    text-align: center;
}
.contact {
    display: block;
    padding: 3rem;
}
.submit {
    text-align: center;
    display: block;
    padding: 1em 0;
}

#lubot {
    margin: 1rem 0 0 0;
    appearance: none;
    border: 1px solid rgb(192, 192, 192);
    width: 90%;
    background-color: white;
    padding: 5px;
    font-family: 'JetBrains Mono';
    font-size: 16px;
}

#lubot:hover {
    background-color: #fff8bf8a;
    cursor: pointer;
}

#lubot:active {
    background-color: #fff082;
    cursor: pointer;
}

#message {
    margin: 0.5rem 0 0 0;   
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
label {
    text-align: center;
    padding: 0.5rem 0;
}
input {
    padding: 0.3em;
}

/* for contact-links */
.contact-links {
    width: 300px;
    margin: 3rem auto;
    
}

.contact-profiles {
    list-style-type: none;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
}

.contact-image {
    border-radius: 5em;
}

.whoareyou:link {
    color:#1b0055;
    text-decoration: none;
}

#true-email {
    margin: 1em;
    border-radius: 1rem;
}

fieldset {
    background-color: #bea0ff;
    text-align: center;
    border: none;
    border-radius: 2rem;
    box-shadow: 10px 10px 0 #3000985d;
}
legend {
    margin: 0 auto;
    color:#1e0052;
    background-color:#faf8d7;
    padding: 5px;
    font-weight: 600;
    border-radius:  5rem;
    border: 2px solid #1e0052;
}
span {
    background-color:#faf8d7;
    padding: 7.5px;
    border-radius: 5rem;
    font-size: 16px;
}

/* BLOGS */
#read-blog  {
    appearance: none;
    background: #fffef5;
    border: none;
    cursor: pointer;
    color:#9e8d51;
    margin-top: 0.5em;
    font-size: 1em;
    font-family: 'JetBrains Mono';
}

#read-blog:hover{
    color:rgb(206, 186, 95)
}


#blog-lists {
    text-align: justify;
    width: 600px;
    margin: 3rem auto;
}

.reader {
    text-align: center;
}
.blog-post {
    text-align: left;
}
.blog-content {
    height: 100px;
}
.blog-page {
    background-color: #fffef5;
    margin: 3rem 0;
    padding: 2rem;
    box-shadow: 10px 10px 0 #726842;
}
.blog-page p {
    padding: 1rem 0 0 0;
}
.category {
    font-weight: 500;
    text-decoration: underline;
    margin: auto 0;
}
article {
    display: flex;
    justify-content: space-between;
}

/* ABOUT PAGE */

@media (max-width: 800px) {
    .background-profile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        max-width: max-content;
        margin: 40px auto;
    }
    .ComputerLab {
        object-fit: fill;
        width: 1200px;
    }
}

.background-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: unwrap;
    width: 100%;
    max-width: max-content;
    margin: 40px auto;
    box-shadow: 0 0.75rem #9d8f5c;
}
.personal-background {
    background-color: #fffef2;
    padding: 2.25rem;
}
.ComputerLab {
    object-fit: cover;
}

.narrative {
    margin: 15px 0;
    text-align: justify;
    display: none;
}
