/* WARNING: THIS IS THE HARDEST PART OF WEB DEVELOPMENT*/

/* Initials */



/* Main */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #faf8d7;
    font-family: 'JetBrains Mono'
}

/*HOME (index.html)*/
.container {
    box-sizing: border-box;
    width: 90%;
    max-width: 1200px;
    max-height: fit-content;
    margin: auto;
    height: 3rem;
}

.navigation {
    padding: 0 32px 0 32px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    background: #faf8d7;
    border-bottom: 3px solid#1b0055;
    padding: 0;
}

header h1 {
    color: #1b0055;
    font-size: 1.25rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-weight: 500;
    justify-content: flex-end;
    padding: 1rem 0;
}

nav a 
{
    padding: 500px;
    height:max-content;
    text-decoration: none;
    color: #5f4596;
}
nav a:hover 
{
    text-decoration: none;
    color: #8760db;
    
}
nav a:active 
{
    text-decoration: none;
    color: #4500d8;
}
#contact-button {
    text-decoration: none;
    background-color: #3c00bd;
    border-radius: 20px;
    height: 200px;
    color: white;
    padding: 0 auto;
}
#contact-button:hover {
    text-decoration: none;
    background-color: #5100ff;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 0 auto;
}

#more-about-me, #skills-info { /* DIALOG INFO */
    position: fixed;
    padding: 30px;
    text-align: center;
    margin: auto;
    background: #faf8d7;
    border: 4px solid #402d69;
    box-shadow: 10px 10px 0 #402d6974;
}
dialog button {
    appearance: none;
    background: none;
    border: none;
    margin-top: 20px;
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-size: large;
    color: #726842;
}
dialog p {
    width: 600px;
    text-align: justify;
    padding: 10px 0;
}
dialog p > span{
    font-size: 30px;
    font-weight: 700;
}

dialog button:hover{
    color: #bbad7d;
    cursor: pointer;
}
div[id='catchphrase'] {
    font-size: 20px;
    font-weight: 800;
    padding: 0 0 5px 0;
}
div[id='HelloWorld']:first-of-type {
    font-size: 30pt;
    position: relative;
    top: -10px;
    background: -webkit-linear-gradient(45deg, gold 10%, goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
} 


.homepage {
    text-align: center;
    padding: 0;
}
.intro-text {
    background: #fffa9a;
    text-align: center; 
    padding: 10px;
    margin: 0 auto;
}
.intro-content {
    background-color: rgb(255, 255, 225);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: justify;
    text-justify: inter-word;
    padding: 100px 0;
    align-items: center;
}
.profile-pic {
    border-radius: 999px;
    box-shadow: 10px 10px 20px gold;
}
.whoami {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 200%;
    gap: 4rem;
    margin: 0 auto;
}
.whoami-text {
    margin: auto 0;
}
.whoami-text > h2 > #fullname {
    font-size: 25px;
    background: -webkit-linear-gradient(45deg, gold 5%, goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.whoami-text button, .intro-skill-set button {
    appearance: none;
    position: relative;
    top: 20px;
    padding: 5px;
    border: 3px solid #1e0052;
    box-shadow: 3px 3px 0 #1b0055b3;
    background-color: rgb(255, 248, 189);
    font-family: 'JetBrains Mono';
    
}
.intro-skill-set button {
    top: -10px;
}
.whoami-text button:hover, .intro-skill-set button:hover  {
    background-color: rgb(255, 246, 164);
    cursor: pointer;
}
.whoami-text button:active, .intro-skill-set button:active  {
    transform: translateX(3px) translateY(3px);
    box-shadow: none;
}
.intro-skill-set {
    background-color:#fff082;
    padding: 10px 0;
}
.intro-skill-category h2:first-of-type {
    font-size: 30px;
    color:rgba(0, 0, 0, 0.589)
}
.skill-category {
    border: 2pt solid #1b0055;
    width: max-content;
    background-color: #faf8d7;
    padding: 10px 40px;
    margin: 1rem auto;
    box-shadow: 5px 5px 0 #1b0055bc;
    font-weight: 500;
}

.skills-set {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px;
    
}
.skill-set {
    padding: 10px;
    background-color: #fffef5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px
}
.soft-skills {
    margin: 40px auto;
    border-radius: 20px; 
}
.soft-skills img {
    border-radius: 20px;
    border: 20px solid #fffef2;
}
.soft-skills img:hover, .skill-set:hover {
    transform: scale(1.03, 1.03);
}


.set1 .pic {
    display: block;
}
.set2 img{
    border-radius: 20px;
}
.set2 {
    order: 1;
}
.set4 img{
    border-radius: 20px;
}

.set5 img {
    padding: 10%;
}

footer {
    background:#fffa9a;
    color: #1e0052;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) { /*RESPONSIVE DESIGN FOR MOBILE*/
    .skill-set  {
        width: 60%;
    }
    .skill-set img {
        width: 100%;
    }
    .soft-skills img{
        width: 450px;
    }
    .whoami {
        display: block;
        max-width: 1200px;
        width: 70%; 
        margin: 0 auto;
    }
    .whoami img {
        margin: 10px auto 50px;
    }
    dialog p {
        width: 400px;
        text-align: justify;
        padding: 10px 0;
    }
}

/* CONTACTS */

.contact-ui {
    background-color:white;
    width: 300px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius:  20px;
    box-shadow: 10px 10px 0 rgb(149, 146, 90);
}
.contact-ui h1{
    text-align: center;
}
.contact {
    display: block;
    padding: 3rem;
}
.submit {
    text-align: center;
    display: block;
    padding: 1em 0;
}

#lubot {
    margin: 1rem 0 0 0;
    appearance: none;
    border: 1px solid rgb(192, 192, 192);
    width: 90%;
    background-color: white;
    padding: 5px;
    font-family: 'JetBrains Mono';
    font-size: 16px;
}

#lubot:hover {
    background-color: #fff8bf8a;
    cursor: pointer;
}

#lubot:active {
    background-color: #fff082;
    cursor: pointer;
}

#message {
    margin: 0.5rem 0 0 0;   
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
label {
    text-align: center;
    padding: 0.5rem 0;
}
input {
    padding: 0.3em;
}

/* for contact-links */
.contact-links {
    width: 300px;
    margin: 3rem auto;
    
}

.contact-profiles {
    list-style-type: none;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
}

.contact-image {
    border-radius: 5em;
}

.whoareyou:link {
    color:#1b0055;
    text-decoration: none;
}

#true-email {
    margin: 1em;
    border-radius: 1rem;
}

fieldset {
    background-color: #bea0ff;
    text-align: center;
    border: none;
    border-radius: 2rem;
    box-shadow: 10px 10px 0 #3000985d;
}
legend {
    margin: 0 auto;
    color:#1e0052;
    background-color:#faf8d7;
    padding: 5px;
    font-weight: 600;
    border-radius:  5rem;
    border: 2px solid #1e0052;
}
span {
    background-color:#faf8d7;
    padding: 7.5px;
    border-radius: 5rem;
    font-size: 16px;
}

/* BLOGS */
#read-blog  {
    appearance: none;
    background: #fffef5;
    border: none;
    cursor: pointer;
    color:#9e8d51;
    margin-top: 0.5em;
    font-size: 1em;
    font-family: 'JetBrains Mono';
}

#read-blog:hover{
    color:rgb(206, 186, 95)
}


#blog-lists {
    text-align: justify;
    width: 600px;
    margin: 3rem auto;
}

.reader {
    text-align: center;
}
.blog-post {
    text-align: left;
}
.blog-content {
    height: 100px;
}
.blog-page {
    background-color: #fffef5;
    margin: 3rem 0;
    padding: 2rem;
    box-shadow: 10px 10px 0 #726842;
}
.blog-page p {
    padding: 1rem 0 0 0;
}
.category {
    font-weight: 500;
    text-decoration: underline;
    margin: auto 0;
}
article {
    display: flex;
    justify-content: space-between;
}

/* ABOUT PAGE */

@media (max-width: 800px) {
    .background-profile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        max-width: max-content;
        margin: 40px auto;
    }
    .ComputerLab {
        object-fit: fill;
        width: 1200px;
    }
}

.background-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: unwrap;
    width: 100%;
    max-width: max-content;
    margin: 40px auto;
    box-shadow: 0 0.75rem #9d8f5c;
}
.personal-background {
    background-color: #fffef2;
    padding: 2.25rem;
}
.personal-background h2 {
    margin-left: 10px;
}
.ComputerLab {
    object-fit: cover;
}
.narrative {
    margin: 15px 0;
    text-align: justify;
    display: none;
}
.divider {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, gold 10%, #fff1bd 90%);
    border-image-slice: 1;
    margin: 0.50em 0 1.25em 0;
}
#Linux {
    cursor: pointer;
}
#read-secret  {
    appearance: none;
    background:#faf8d7;
    border: none;
    color:#faf8d7;
    margin-top: 0.5em;
    font-size: 1em;
    font-family: 'JetBrains Mono';
}
#read-secret:active{
    color:rgb(255, 242, 183)
}

.touchMeNot {
    background-color: #8acbf3;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.592);
    display: none;
}
.touchMeNot-ui {
    display: inline-block;
    margin: 2rem auto;
    text-align: center;
    color: #e4f5ff;
}
.touchMeNot-ui > p {
    padding: 10px 0;
    font-weight: 500;
}
.touchMeNot-ui > h2 {
    padding: 5px 0;
}
.touchMeNot-ui > p > i > span {
    background: none;
    font-weight: 1000;
}

/* HOMEPAGE (FINAL) */
